/* Splošni stil */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Glava strani */
header {
  text-align: center;
  background-color: #222;
  color: white;
  padding: 20px 0;
}

/* Glavni del strani */
main {
  padding: 20px;
}

section {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Gumb */
button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

/* Noga strani */
footer {
  text-align: center;
  padding: 10px 0;
  background-color: #222;
  color: white;
}

